@import "../../css/typography.css";
@import "../../css/colors.css";

.next-button {
  text-align: right;
}

.home-button {
  text-align: center;
}

.previous-button {
  text-align: left;
}

.navigation-buttons {
  padding-top: 20px;
  padding-bottom: 30px;
}

.navigation-button {
  color: var(--color-text-dark-dark);
  font-family: var(--font-serif);
}

@media (max-width: 576px) {
  .navigation-button {
    font-size: 14px;
  }
}
@media (min-width: 576px) {
  .navigation-button {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .navigation-button {
    font-size: 18px;
  }
}