.section {
		width: 90%;
	margin-left: auto;
	margin-right: auto;

}

.section p {
	padding-bottom: 25px;
	/*width: 50%;*/
}

.section .postImageFrame {
	height: 400px;
}

.bio {
	color: #555;
	width: 200px;
	float: left;
	margin: 15px;
	margin-left: 0;
	padding: 0;
}

.bio .postImageFrame {
	width: 100%;
	min-height: 50px;
	max-height: 200px;
	height: 50%;
	margin: 0;
	padding: 0;
}
