:root{
  --color-memories: rgb(247, 241, 225);
  --color-good-luck: rgb(253, 31, 0);
  --color-101: rgb(0, 121, 109);
  --color-101-faded-1: rgb(0, 121, 109, 0.75);
  --color-101-faded-2: rgb(0, 121, 109, 0.5);
  --color-snacks: rgb(255, 161, 183);
  --color-street-lights: rgb(169, 255, 74);
  --color-golden-carbs: rgb(231, 143, 45, 1);
  --color-golden-carbs-faded: rgb(231, 143, 45, 0.5);

  --color-text-dark-dark: #222;
  --color-text-dark-medium: #444;
  --color-text-dark-light: #666;

  --color-text-light-dark: #999;
  --color-text-light-medium: #bbb;
  --color-text-light-light: #eee;
}
