@font-face {
  font-family: "Dillan";
  src: url("../fonts/dillan.otf");
}

/* @font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya/Alegreya-Black.ttf");
  font-weight: 900;
} */

@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya/Alegreya-Italic.ttf");
  font-style: italic, oblique;
}

/* @font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya/Alegreya-BlackItalic.ttf");
  font-style: italic, oblique;
  font-weight: 900;
} */

/* @font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya/Alegreya-Medium.ttf");
  font-weight: 400;
} */

@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya/Alegreya-MediumItalic.ttf");
  font-weight: normal;
  font-style: italic, oblique;
}

@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya/Alegreya-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic, oblique;
}

@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya/Alegreya-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya/Alegreya-Regular.ttf");
}

/* @font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya/Alegreya-ExtraBold.ttf");
}

@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya/Alegreya-ExtraBoldItalic.ttf");
} */

