.footer {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
  background: #999; /* light grey */
  margin-left: -15px;
  margin-right: -15px;
}

.copyright {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  text-transform: uppercase;
}