@import "../../css/colors.css";

.logotype, .logotype-static { fill: var(--color-good-luck); }
.logotype:hover { fill: var(--color-good-luck-faded-1); }
.logotype:active { fill: var(--color-good-luck-faded-2); }
