.step {
  padding-bottom: 20px;
}
.step-name {
  font-size: 18px;
  font-weight: bold;
}

.step-description > div > div {
  padding-bottom: 10px;
}

.stepNote {
  padding-bottom: 10px;
  font-size: 14px;
}

.stepNoteNumber {
  display: inline-block;
  width: 20px;
  margin-left: -20px;
  padding-right: 5px;
}