@import "../../css/colors.css";
@import "../../css/typography.css";

.buttonLg, .buttonMd {
  padding: 10px;
  font-family: var(--font-serif);
  display: inline-block;
  border-radius: 8px;
  border: 2px solid var(--color-good-luck);
  color: var(--color-good-luck);
}

.buttonLg:hover, .buttonMd:hover {
  background-color: var(--color-101-faded); 
  border-color: var(--color-101-faded); 
  opacity: 0.8; 
}

.buttonLg:active, .buttonMd:active {
  background-color: var(--color-101); 
  border-color: var(--color-101); 
  opacity: 0.6; 
}

.buttonMd {
  font-size: 12pt;
}

.buttonLg {
  font-size: 16pt;
}
