@import "../../css/colors.css";
@import "../../css/typography.css";

.profile {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture {
  border-radius: 25px;
}

.profile-information {
  flex-grow: 1;
}
.profile-name {
  font-size: 32px;
  font-family: var(--font-serif);
  padding-top: 10px;
  /* padding-bottom: 10px; */
}

.position {
  font-family: var(--font-sans-serif);
  font-size: 18px;
  line-height: 18px;
  padding-bottom: 30px;
}

.prompt {
  font-family: var(--font-sans-serif);
  color: var(--color-101);
  font-size: 18px;
  padding-bottom: 10px;
}

.answer {
  font-family: var(--font-sans-serif);
  font-size: 18px;
  line-height: 18px;
  padding-bottom: 30px;
}

.social-link {
  font-size: 16px;
  font-family: var(--font-sans-serif);
  color: var(--color-101);
  font-weight: bold;
  width: 100%;
  display: inline-block;
}

.social-link:hover {
  color: var(--color-101-faded-1);
}

.social-label {
  display: inline-block;
  width: 30px;
  text-align: center;
  margin-right: 10px;
}
