@import "../../css/colors.css";

.container {
  background-color: var(--color-memories);
  height: 100%;
}

.page {
  max-width: 700px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 60px;
}

.layout {
  margin-top: 20px;
}
  
.next-button {
  text-align: right;
}

.previous-button {
  text-align: left;
}

.navigation-buttons {
  padding: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
}
