@import '../../css/colors.css';
@import '../../css/typography.css';

.container {
  background-color: var(--color-memories);
  position: relative;
  min-height: calc(100vh - 80px);
  margin-bottom: -100px;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page {
  max-width: 700px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 60px;
}

@media (max-width: 768px) {
  .page { padding-top: 0px; }
  .layout { margin-top: 0px}
}

@media (min-width: 768px) {
  .page { padding-top: 20px; }
  .layout { margin-top: 20px;}
}

.layout {
  flex-grow: 1;
}
  
.next-button {
  text-align: right;
}

.previous-button {
  text-align: left;
}

.navigation-buttons {
  padding: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.footer {
  background: var(--color-101); 
  color: var(--color-text-light-light);
  font-family: var(--font-sans-serif);
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  
  width: calc(100% + 30px);
  margin-left: -15px;
  padding-top: 20px;
  padding-bottom: 40px;

  flex-shrink: 0;
}
