body, div, p, a, h1, h2, h3, h4, h5 {
	font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
	font-size: 12pt;
}
.page {
	height: 100%;
	padding-top: 50px;
	margin: 0;
}

.jumbotron {
	margin: 0;
}

.landing {
}
.landing h3 {
	text-align: center;
}

.landing img {
	min-width: 220px;
	width: 50%;
	max-width: 300px;
}

.navbar img {
	height: 25px;
}

.navbar-header , .navbar-nav {
	padding-right: 50px;
	padding-left: 50px;
}

.stretch-background {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.inverted {
	background-color: #0077b3;
	color: white;
}

.inverted h3 {
}

.inverted h4 {
	color: #90d7fa;
	font-style: italic;
}
.inverted p{
	color: #bee5f9;
}

#contact {
	padding-top: 200px;
}