body, div, p, a, h1, h2, h3, h4, h5 {
	font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
	font-size: 12pt;
}
.page {
	height: 100%;
	padding-top: 50px;
	margin: 0;
}

.jumbotron {
	margin: 0;
}

.landing {
	text-align: center;
}

.landing a {
	/*font-size: 48pt;*/
}

.landing img {
	min-width: 220px;
	width: 50%;
	max-width: 300px;
}

.navbar img {
	height: 25px;
}

.navbar-header , .navbar-nav {
	padding-right: 50px;
	padding-left: 50px;
}

.stretch-background {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.inverted {
	background-color: #333;
	color: white;
}

.inverted h3 {
}

.inverted h4 {
	color: #90d7fa;
	font-style: italic;
}
.inverted p{
	color: #bee5f9;
}

#contact {
	padding-top: 200px;
}

.myInput {
	/*border:2px;*/
	border-color: rgba(255,255,255,0.75); 
	border-radius: 0px;
	background-color: rgba(255,255,255,0.75);
	color: #2c3e50;
	font-size: 24pt;
	height: 48pt;
}

.mySubmit {
	background-color: rgba(52, 152, 219, 0.75);
	border-color: rgba(52, 152, 219, 1.0); 
	font-size: 18pt;
	height: 54pt;
	border-radius: 24pt;
	padding: 12pt;
	padding-left: 18pt;
	padding-right: 18pt;
}

.mySubmit:hover {
	background-color: rgba(52, 73, 94, 0.9);
	border-color: rgba(52, 73, 94, 0.5);
}