@import "../css/colors.css";

html {
  background-color: var(--color-memories);
  height: 100%;
}

html, body, #gatsby-focus-wrapper, #___gatsby {
  height: 100%;
}

a:hover {
  text-decoration: none !important;
}

a:hover {
  color: var(--color-101) !important;
}

a:active {
  color: var(--color-101-faded-1) !important;
}

:target {
  background-color: var(--color-golden-carbs-faded) !important; /* pale goldenrod */
}