@import '../css/colors.css';

.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.body {
  flex: 1 0 auto;
}

.xlarge-view, .large-view {
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.medium-view, .small-view {
  display: flex;
  flex-direction: column;
}

.desktop-header {
  text-align: right;
}
.desktop-home {
  position: relative;
}

@media (min-width: 1200px) {
  .desktop-header { padding: 100px 40px 0px 8%; }
  .desktop-home { padding: 50px 15% 0px 0px; }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .desktop-header { padding: 50px 40px 0px 5%; }
  .desktop-home { padding: 50px 5% 0px 0px; }
}
@media (max-width: 992px) and (min-width: 768px) {
  .desktop-header { padding: 40px 20px 0px 30px; }
  .desktop-home { padding: 50px 40px 0px 0px; }
}

@media (min-width: 992px) { 
  .xlarge-view { display: normal; }
  .large-view { display: none; }
  .medium-view { display: none; }
  .small-view { display: none; }
}
@media (max-width: 992px) and (min-width: 768px) { 
  .xlarge-view { display: none; }
  .large-view { display: normal; }
  .medium-view { display: none; }
  .small-view { display: none; }
}
@media (max-width: 768px) and (min-width: 576px) { 
  .xlarge-view { display: none; }
  .large-view { display: none; }
  .medium-view { display: normal; }
  .small-view { display: none; }
}
@media (max-width: 576px) { 
  .xlarge-view { display: none; }
  .large-view { display: none; }
  .medium-view { display: none; }
  .small-view { display: normal; }
}

.medium-view {
  padding-left: 25px;
  padding-right: 25px;
}
.small-view {
  padding-left: 25px;
  padding-right: 25px;
}

.compact-header {
  margin-left: -25px;
  margin-right: -25px;
}

.logotype {
  padding-top: 50px;
  padding-bottom: 30px;
}

.link {
  color: var(--color-text-dark-dark);
  font-weight: bold;
  font-family: var(--font-serif);
  font-size: 20px;
}

.button:nth-child(1) > .link:hover { color: var(--color-golden-carbs); }
.button:nth-child(2) > .link:hover { color: var(--color-101); }
.button:nth-child(3) > .link:hover { color: var(--color-good-luck); }

@media (min-width: 992px) { .link { font-size: 22px;} }
@media (max-width: 992px) { .link { font-size: 18px;} }

.footer {
  flex-shrink: 1;
  /* top: 50px; */
}