@import '../css/colors.css';

.container {
  background-color: var(--color-memories);
}

.desktop-header {
  text-align: right;
}

.large-view {
  max-width: 1600px;
  margin: auto;
  transform: translateX(-6%);
  padding-top: 50px;
}

@media (min-width: 992px) { 
  .large-view { display: normal; }
  .medium-view { display: none; }
  .small-view { display: none; }
}
@media (max-width: 992px) and (min-width: 576px) { 
  .large-view { display: none; }
  .medium-view { display: normal; }
  .small-view { display: none; }
}
@media (max-width: 576px) { 
  .large-view { display: none; }
  .medium-view { display: none; }
  .small-view { display: normal; }
}

.logotype {
  padding-top: 50px;
  padding-bottom: 30px;
}

.link {
  color: var(--color-text-dark-dark);
  font-weight: bold;
  text-transform: uppercase;
  font-family: var(--font-serif);
  font-size: 16px; 
}