@import "../css/typography.css";

.header-lg {
  font-family: Dillan, Georgia, 'Times New Roman', Times, serif;
  color: #333;
}

.header-md {
  font-family: Alegreya, Helvetica, Arial, sans-serif;
  font-style: italic;
  color: #666;
}

.header-sm {
  font-family: Alegreya, Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #333;
}

.header-xs {
  font-family: Alegreya, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
}

@media (max-width: 576px) {
  .header-lg {
    font-size: 20pt;
    line-height: 20pt;
  }
  
  .header-md {
    font-size: 14pt;
  }
  
  .header-sm {
    font-size: 13pt;
  }
  
  .header-xs {
    font-size: 10pt;
  }
}

@media (min-width: 576px) {
  .header-lg {
    font-size: 24pt;
    line-height: 20pt;
  }
  
  .header-md {
    font-size: 16pt;
  }
  
  .header-sm {
    font-size: 14pt;
  }
  
  .header-xs {
    font-size: 10pt;
  }
}

@media (min-width: 768px) {
  .header-lg {
    font-size: 36pt;
    line-height: 36pt;
  }
  
  .header-md {
    font-size: 18pt;
  }
  
  .header-sm {
    font-size: 14pt;
  }
  
  .header-xs {
    font-size: 10pt;
  }
}

.body-text {
  font-family: Alegreya, Helvetica, Arial, sans-serif;
  font-size: 14pt;
  color: #444;
}

.poetry-text {
  font-family: Alegreya, Helvetica, Arial, sans-serif;
  font-size: 14pt;
  line-height: 24pt;
  color: #444;
}

.caption-text {
  font-family: Alegreya, Helvetica, Arial, sans-serif;
  font-size: 12pt;
  color: #666;
}

.label-text {
  font-family: Alegreya, Helvetica, Arial, sans-serif;
  font-size: 14pt;
  text-transform: uppercase;
}

.ingredient-list-text {
  font-family: Alegreya, Helvetica, Arial, sans-serif;
  font-size: 14pt;
  line-height: 16pt;
  color: #444;
}

.footnote-text {
  font-family: Alegreya, Helvetica, Arial, sans-serif;
  font-size: 12pt;
  color: #666;
}
