@import "../../css/typography.css";
@import "../../css/colors.css";

.header, .header-dark {
  padding: 0px;
  margin-bottom: 50px;
}

.header { background-color: var(--color-memories);}
.header-dark {   text-shadow: 1px 1px 5px black;}

@media (max-width: 768px) { 
  .header, .header-dark { padding-left: 20px; padding-right: 20px; padding-top: 15px; }
}
@media (min-width: 768px) { 
  .header, .header-dark { padding: 30px; }
}

@media (min-width: 768px) { 
  .small-logo-button { display: none; }
  .xsmall-logo-button { display: none; }
}
@media (max-width: 768px) and (min-width: 576px) { 
  .medium-logo-button { display: none; }
  .xsmall-logo-button { display: none; }
}
@media (max-width: 576px) { 
  .medium-logo-button { display: none; }
  .small-logo-button { display: none; }
}

.hamburger-button {
  border-width: 0px !important;
  padding-right: 0px !important;
}

.hamburger-button-dark {
  border-width: 0px !important;
  padding-right: 0px !important;
  color: var(--color-memories);
}

@media (min-width: 576px) { 
  .buttons {  position: absolute; top: 30px;  right: 30px; }
}
@media (max-width: 768px) and (min-width: 576px) { 
  .buttons {  position: absolute; top: 20px;  right: 20px; }
}

.button {
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 576px) { 
  .button { display: relative; padding-right: 0px; }
}

@media (min-width: 576px) { 
  .button { display: inline; }
  .button:last-child { padding-right: 0px; }
}

.link, .link-dark {
  font-weight: bold;
  font-family: var(--font-serif);
}
@media (max-width: 576px) { .link, .link-dark { font-size: 16px; }}
@media (min-width: 576px) { .link, .link-dark { font-size: 18px; }}

.link { color: var(--color-text-dark-dark); }
.link-dark { color: var(--color-memories); }

.button:nth-child(1) > .link:hover, .button:nth-child(1) > .link-dark:hover { color: var(--color-golden-carbs); }
.button:nth-child(2) > .link:hover, .button:nth-child(2) > .link-dark:hover { color: var(--color-101); }
.button:nth-child(3) > .link:hover, .button:nth-child(3) > .link-dark:hover { color: var(--color-good-luck); }

.button:nth-child(1) > .link:active, .button:nth-child(1) > .link-dark:active { color: var(--color-golden-carbs-faded-1); }
.button:nth-child(2) > .link:active, .button:nth-child(2) > .link-dark:active { color: var(--color-101-faded-1); }
.button:nth-child(3) > .link:active, .button:nth-child(3) > .link-dark:active { color: var(--color-good-luck-faded-1); }
