@import "../../css/typography.css";
@import "../../css/colors.css";

.header {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 50px;
}

@media (max-width: 576px) { .home { padding-left: 10px; padding-top: 15px; }}
@media (min-width: 576px) { .home { padding-left: 20px; padding-top: 20px; }}
@media (max-width: 576px) { .medium-logo-button { display: none; }}
@media (min-width: 576px) { .small-logo-button { display: none; }}

.hamburger-button {
  border-width: 0px !important;
}

@media (min-width: 576px) { 
  .buttons { 
    position: absolute;
    top: 30px; 
    right: 30px; 
  }
}

.button {
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 576px) { 
  .button { 
    display: relative; 
  }
}
@media (min-width: 576px) { 
  .button { 
    display: inline; 
  }
  .button:last-child { 
    padding-right: 0px; 
  }
}

.link {
  color: var(--color-text-dark-dark);
  font-weight: bold;
  font-family: var(--font-serif);
}
@media (max-width: 576px) { .link { font-size: 16px; }}
@media (min-width: 576px) { .link { font-size: 18px; }}
