@import "../../css/colors.css";

.wrapper {
  /* width: 100%; */
}

.carousel-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.caption {
  width: 50%;
  flex: 1 0 auto;
}

.thumbnails {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
  flex: 1 0 auto;
}

.thumbnail, .selected-thumbnail {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-left: 5px;
  margin-right: 5px;
  border-style: none !important;
  outline: none !important;
}
.thumbnail:last-child, .selected-thumbnail:last-child {
  margin-right: 0px;
}

.selected-thumbnail { background-color: var(--color-golden-carbs); }
.thumbnail { background-color: var(--color-golden-carbs-faded-1); }

