@import '../css/colors.css';

.container {
  background-color: var(--color-memories);
}

.page {
  max-width: 1200px;
  margin: auto;
}

.logotype {
  padding-top: 50px;
  padding-bottom: 30px;
}

@media (max-width: 768px) {
  .logotype-large {
    display: none;
  }
  .logotype-medium {
    display: normal;
    margin: auto;
    width: 100px;
  }
}

@media (min-width: 768px) {
  .logotype-large {
    display: normal;
  }
  .logotype-medium {
    display: none;
  }
}
