@import "../../css/typography.css";
@import "../../css/colors.css";

.home {
  font-size: 24px;
  font-weight: bold;
  font-family: var(--font-serif);
  color: var(--color-text-dark-dark);
}

.header {
  margin-left: -15px;
  margin-right: -15px;
}

.collapsed-button {
  opacity: 0.5;
  border-width: 0px !important;
}

.collapsed-button:hover {
  opacity: 1;
}

.collapsed-button:focus {
  outline: none;
}

.buttons {
  text-align: right;
}

.button {
  padding-left: 10px;
  padding-right: 10px;
}

.link {
  color: var(--color-text-dark-dark);
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: var(--font-serif);
}
