@import "../../css/typography.css";
@import "../../css/colors.css";

.home {
  font-size: 24px;
  font-family: var(--font-serif);
  color: var(--color-good-luck);
  padding-left: 10px;
}

.header {
  margin-left: -15px;
  margin-right: -15px;
}

.collapsed-button {
  border-width: 0px !important;
  padding-right: 0px;
}

.collapsed-button:focus {
  outline: none;
}

.buttons {
  text-align: right;
}

@media (max-width: 768px) {
  .collapsed-home-button {
    display: default;
    padding-left: 0px;
  }
  .button {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .home {
    display: none;
  }

  .buttons {
    position: relative;
  }
}

@media (min-width: 768px) {
  .collapsed-home-button {
    display: none;
  }

  .button {
    padding-left: 10px;
    padding-right: 10px;
  }

  .buttons {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}


.link {
  color: var(--color-text-dark-dark);
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: var(--font-serif);
}
